<!DOCTYPE html>
<html>
<head>

{ansi2html_head}
</head>

<h1>pyterm - terminal output style/positioning control</h1>

<p><em>pyterm</em> is a tool designed to easy the use of colors,
formatting and positioning of text in a terminal without
the use of <em>curses</em> mode (curses.initwin).

<p>By default the python <em>curses</em> module is used to get code info
from the terminal.
If <em>curses</em> is not available ANSI codes are used.
The idea to use curses to get terminfo was taken from
<a href="https://pypi.python.org/pypi/blessings/">blessings</a>.
</p>

<p>website/docs: <a href="http://pythonhosted.org/pyterm">http://pythonhosted.org/pyterm</a></p>

<p>source/issues: <a href="https://bitbucket.org/schettino72/pyterm">https://bitbucket.org/schettino72/pyterm</a></p>

<h3>Tutorial - colors</h3>
<pre class="body_foreground body_background" style="white-space:pre-wrap;">
{terminal}
</pre>

<h3>Example - progress bar</h3>
<div>Check the <a href="https://bitbucket.org/schettino72/pyterm/src/tip/sample_bar.py?at=default">code</a>!</div>
</div>
</html>
